.contact {
  padding-bottom: 0;

  .social-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    .social-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      min-width: 222px;

      .icon-wrapper {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;

        .icon-circle {
          position: absolute;
          z-index: -1;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          padding: 15px;
          background-color: var(--color-green);
          transition: transform 0.3s;
        }

        i {
          font-size: 1.2rem;
          transition: transform 0.3s;
        }
      }

      p {
        margin-top: 5px;
        margin-bottom: 15px;
        font-weight: 500;
        color: var(--color-text-fade);
        font-size: 0.95rem;
      }

      .btn {
        @include button-hover(--color-green);
        color: var(--color-text);
      }

      &:hover {
        .icon-wrapper {
          .icon-circle {
            transform: scale(0);
          }

          i {
            transform: scale(1.5);
          }
        }
      }

      @media (max-width: $small) {
        min-width: 250px;
      }
    }

    @media (max-width: $mobile) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    min-height: 703px;
    justify-content: center;

    .work-together {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
      transition: opacity 0.5s linear, transform 0.5s linear;

      .title {
        cursor: pointer;
        font-weight: 600;
        font-size: 4rem;
        padding-bottom: 13px;
        margin-top: 5px;
        text-align: center;

        transition: border-color 0.2s linear;
        border-bottom: 3px solid var(--color-background);

        &:hover {
          border-bottom: 3px solid var(--color-text);
        }

        @media (max-width: $small-mobile) {
          font-size: 3rem;
        }
      }

      &.fade-out {
        transform: translateY(-4%);
        opacity: 0;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 80px 0 63px 0;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.7s, transform 0.7s;

      span {
        margin-bottom: 20px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.3em;

        @media (max-width: $mobile) {
          text-align: center;
        }
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .input-wrapper {
          flex: 1;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
            font-size: 1rem;
          }

          input,
          textarea,
          select {
            background: transparent;
            width: 100%;
            height: 45px;
            font-size: 1.125rem;
            line-height: 1.875rem;
            font-weight: 500;
            border-bottom: 1px solid var(--color-text-fade);
            color: var(--color-text);
            padding: 8px 0 6px 0;
            transition: border 0.2s linear;

            &:focus {
              border-bottom: 1px solid var(--color-text);
            }
          }

          select {
            cursor: pointer;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          textarea {
            resize: vertical;
            min-height: 45px;
            max-height: 180px;
            overflow-y: visible;
            overflow-x: hidden;
            border-radius: 0;
            outline: 0;
            font-style: normal;
          }
        }
      }

      &.loaded {
        opacity: 1;
        transform: scale(1);
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;

      button {
        margin-top: 15px;
        display: inline-block;
        padding: 15px 60px;

        @include button-hover(--color-green);

        i {
          padding-right: 7px;
        }
      }
    }
  }
}
