.projects {
  .heading {
    margin-bottom: 50px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;

    .project-card {
      position: relative;
      cursor: pointer;
      width: calc(50% - 30px);
      background-position: center;
      overflow: hidden;
      height: 750px;
      margin-bottom: 30px;

      &.left {
        margin-right: 15px;
      }

      &.right {
        margin-left: 15px;
      }

      .card-wrapper {
        content: "";
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        gap: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 50px 60px 50px;

        .card-heading {
          color: var(--color-white);
          text-align: center;
          height: 50%;

          span {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
          }

          p {
            font-size: 32px;
            line-height: 2.5rem;
            padding-top: 3px;
            padding-bottom: 2px;
            font-weight: 800;
          }
        }

        .card-info {
          display: flex;
          justify-content: center;
          height: 50%;
          color: var(--color-white);

          .info-wrapper {
            .box {
              transition: opacity 0.2s linear;
              opacity: 0;
              border: 2px solid var(--color-white);
              padding: 15px 30px;
              border-radius: 20px;
              margin-bottom: 20px;

              @include button-hover(--color-white);

              i {
                padding-right: 5px;
              }

              i,
              span {
                transition: color 0.2s linear;
              }

              &:hover {
                color: var(--color-text);
              }
            }
          }
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        transition: transform 0.2s linear;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: rgba(15, 20, 30, 0.9);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.2s linear;
      }

      &:hover {
        &::before {
          opacity: 0.7;
        }

        img {
          transform: scale(1.02);
        }

        .card-wrapper {
          .card-info {
            .info-wrapper {
              .box {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
