.projects {
  padding-bottom: 15px !important;

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project-card {
      position: relative;
      width: calc(50% - 15px);
      background-position: center;
      overflow: hidden;
      height: 750px;
      margin-bottom: 30px;
      border-radius: 30px;

      &.left {
        margin-right: 15px;
      }

      &.right {
        margin-left: 15px;
      }

      .card-wrapper {
        content: "";
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        gap: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 80px 50px 80px 50px;

        .card-heading {
          color: var(--color-white);
          text-align: center;
          height: 50%;
          opacity: 0;
          transition: opacity 0.2s linear;
          display: flex;
          flex-direction: column;

          .date {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
          }

          .title {
            font-size: 2rem;
            padding-top: 3px;
            padding-bottom: 2px;
            font-weight: 800;
          }

          .tools {
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 400;
          }
        }

        .card-info {
          display: flex;
          justify-content: center;
          height: 50%;
          color: var(--color-white);

          .info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: end;

            .box {
              display: block;
              opacity: 0;
              border: 1px solid var(--color-white);
              padding: 17px 32px;
              border-radius: 20px;
              margin-bottom: 20px;
              font-weight: 500;
              color: var(--color-white);

              @include button-hover(--color-white);

              i {
                padding-right: 5px;
                transform: translateY(1px);
              }

              i,
              span {
                transition: color 0.2s linear;
              }

              &:hover {
                color: var(--color-text);
              }
            }
          }
        }

        @media (max-width: $mobile) {
          padding: 80px 40px;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        transition: transform 0.2s linear;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: var(--color-text);
        filter: brightness(55%) saturate(120%);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.2s linear;
      }

      &:hover {
        &::before {
          opacity: 0.9;
        }

        img {
          transform: scale(1.02);
        }

        .card-wrapper {
          .card-heading {
            opacity: 1;
          }

          .card-info {
            .info-wrapper {
              .box {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      flex-wrap: nowrap;

      .project-card {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}