:root {
  /* Light Theme Variables */
  --color-green-light: #d5d8c7;
  --color-red-light: #ff0000;
  --color-white-light: #fff;
  --color-brown-light: #9f8062;
  --color-text-light: #444444;
  --color-text-fade-light: #878a8f;
  --color-background-light: #f0f0f0;
}
