/* Light Theme Variables */
$color-green-light: #d5d8c7;
$color-text-light: #444444;
$color-background-light: #f0f0f0;

/* Dark Theme Variables */
$color-green-dark: #ffffff;
$color-text-dark: #ffffff;
$color-background-dark: #7681ac;