.light-theme {
  --color-green: var(--color-green-light);
  --color-red: var(--color-red-light);
  --color-white: var(--color-white-light);
  --color-brown: var(--color-brown-light);
  --color-text: var(--color-text-light);
  --color-text-fade: var(--color-text-fade-light);
  --color-background: var(--color-background-light);

  --toggle-circle: var(--color-text-light);
}

body {
  background-color: var(--color-background);
}
