.btn {
  border: 1px solid var(--color-text-fade);
  padding: 15px 30px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.95rem;
  cursor: pointer;
  color: var(--color-text);

  @media (max-width: $mobile) {
    font-size: 1.15rem;
  }
}

@mixin button-hover($bg-color) {
  transition: background-color 0.2s linear, transform 0.2s linear,
    opacity 0.2s linear;

  &:hover {
    background-color: var($bg-color);
  }
}