#loading-icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: transparent;

  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--color-text);
  border-left: 2px solid var(--color-text);

  animation: loading 1.2s infinite linear;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}